@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@font-face {
  font-family: "quicking";
  src: url("./assets/fonts/Quicking-Regular.ttf") format("Truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "voyage";
  src: url("./assets/fonts/voyage-bold.otf") format("Opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "voyage";
  src: url("./assets/fonts/voyage-Regular.otf") format("Opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "after";
  src: url("./assets/fonts/After-Regular.ttf") format("Truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "condensed";
  src: url("./assets/fonts/TGSPerfectCondensed.ttf") format("Truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "belvare";
  src: url("./assets/fonts/Belvare.ttf") format("Truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "francy";
  src: url("./assets/fonts/Francy.ttf") format("Truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #FFFAF3;
}


.swiper-slide {
  transition: transform 0.3s ease, scale 0.3s ease;
}

.swiper-slide-active {
  transform: scale(2);
  opacity: 1;
  z-index: 10;
}

.my-custom-swiper .swiper-slide-prev,
.my-custom-swiper .swiper-slide-next {
  transform: scale(0.2);
  opacity: 0.4;
  z-index: 5;
}


@import "tailwindcss";

@theme {
  --font-body: "Mulish", sans-serif;
  --font-header: "quicking", sans-serif;
  --font-bold: "condensed", sans-serif;
  --font-collab: "voyage", serif;
  --font-curly: "belvare", serif;
  --font-wide: "francy", sans-serif;
  --font-c-body: "Montserrat", sans-serif;

  --breakpoint-tablet: 600px;
  --breakpoint-laptop: 1025px;
  --breakpoint-desktop: 1280px;

  --color-warm-white: rgb(255 250 243);
  --color-light-beige: rgb(250 232 218);
  --color-gray: rgb(185 176 178);
  --color-gray-blue: rgb(175 173 179);
  --color-warm-black: rgb(47 26 14);
  --color-dark-red: rgb(151 67 51);
  --color-medium-red: rgb(200 91 69);
  --color-red-beige: rgb(230 128 96);
  --color-brown-beige: rgb(229 157 109);
  --color-warm-beige: rgb(251 177 130);
  --color-purple: rgb(104, 109, 137);
  --color-white-blue: rgb(226, 235, 248);
  --color-light-blue: rgb(163 184 213);
  --color-dark-blue: rgb(101 136 184);
  --color-collab-green: rgb(133 125 95);
  --color-collab-beige: rgb(250 235 214);

  --animate-fadeIn: fadeIn 1s ease-in both;
  --animate-longFadeIn: fadeIn 2.3s ease-in both;
  --animate-spin: spin 10s ease-in infinite;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
}
